* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: Verdana, sans-serif;
}

body {
  font-family: Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.menu-container {
  background-color: rgb(12, 160, 218);
  padding: 20px;
}

.menu-container > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.menu-container > ul > li > a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

footer {
  padding: 20px;
}

#comments > div:first-child {
  display: flex;
  justify-content: space-between;
}

#comments > div:first-child > button {
  background-color: rgb(12, 160, 218);
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
